
.ha2a{padding:6px 11px 0 11px;font-size:12px;background-color:#7B9623;color:#FFF;font-weight:bold;height:20px;text-align:center;}


.ha3a{padding:10px 0 0 18px;font-size:15px;background-color:#F0F4EC;height:22px;color:#666;}


.w3a{padding:9px 18px;font-size:13px;line-height:18px;border-bottom-width:1px;border-bottom-style:solid;border-bottom-color:#7B9623;}


.list2{float:left;width:376px;border:2px solid #7B9623;}

