/*@charset "UTF-8"; */
   html
    {
       scrollbar-face-color: #A3D2E7;
       scrollbar-highlight-color:#FFFFFF;
       scrollbar-shadow-color:#FFFFFF;
       scrollbar-3Dlight-color:#A3D2E7;
       scrollbar-arrow-color:#FFFFFF;
       scroll-track-color:#A3D2E7;
       scroll-darjsgadiw-color:#FFFFFF;
       /*cursor:pointer; 
       overflow-x: hidden; overflow-y: auto;*/
     }
    /* 
    * html body
    {
	    behavior:url("css/ie-css3.htc");
    }
   */


    body
    {
        margin:0 auto;
        padding:0;
        line-height:16px;
        color:#666;
         font-family:Arial,Verdana, Helvetica, sans-serif,Georgia;
        background:#FFF url(../Images/Index/gradient.jpg) repeat-x;     
        font-size:13px; 
       /* background-image:url(../Images/Index/bg_GIS.jpg);     
        background-repeat:no-repeat;
        background-attachment:fixed;
        background-position:center top;*/
        /*CSS 3背景新屬性 background-size*/
        /*cover：無論如何，都會將畫面居中撐滿。*/ 
        -moz-background-size: cover;    /*for Firefox*/
        -webkit-background-size: cover;     /*for Google Chrome、Safari*/
        -o-background-size: cover;          /*for Opera*/       
        background-size: cover; /*for IE*/        
        /*background-size:contain;   contain：依照原來的比例，等比的縮放到指定的元素的尺寸中。*/
        /*相容 IE 和 FF 的換行 CSS 推薦樣式 */
	    /*word-wrap是控制換行的*/
	    word-wrap:break-word;
	    word-break:break-all;	
	    /*若有英文長句型的問題, 則word-break:break-all;需改用overflow:hidden; 否則英文單詞會被斷開*/
    }
    
    a, a:link, a:visited
    {
        color:#666;text-decoration:none;
        outline:none;
	  /*  blr:this.onFocus=this.blur();*/
     
    }
  
    a:hover
    {
        color:#FE5302;text-decoration:none;
    }
       
    p
    {
        margin: 0px;
        padding: 0 0 10px 0;
    }        
    #page 
    {
	    background: url(../Images/Index/sky.png) no-repeat right top;	   
	     
    }

 /* ~~這個固定寬度的容器*/ 
    #wrapper
    {
        margin:0 auto;/* 兩側的自動值與寬度結合後，版面便會置中對齊 */
        width:1024px;
        background-color:#FFF;
    }
    
    /*跑馬燈區塊 */
    .altmessage
     {
        margin:-15px auto 5px;
        width:900px;
        background-color:#FFF;  
        font-size:14px;
     }
    
      /******************** 左側區塊 ************************/      
    
    #left
    {
        float:left;
        padding-bottom:0px;
        width:174px;
        background-color:#FFF;
        /*background-color:Navy;*/
    }
    
     /* 登入區塊*/  
    #login
    {
        padding:43px 0 0 6px;
        height:205px; 
        background-image:url(../Images/Index/login.jpg);
        background-repeat :no-repeat ;
    }
    
    
    #login .tab_login 
    {
        width:168px;
        border-collapse: collapse;
        
    }
    
     #login .tab_login .td_header
    {
        font-size: 10pt;
        text-align: center;
        width: 48px;
        padding: 3px 0px 3px 0px;
    }
    
   
    #login td
    {padding: 2px 0px 2px 0px;}
    
     #login td .td_txtbox
    {
       width: 110px; 
       padding: 3px 0px 3px 0px;
    }
    
     #login td .td_message
    {
	    padding: 1px 0px 1px 0px;
	    font-size: 10pt;
	    font-weight: bold;
	    color: Red;
	    
    }
     #login td .td_button
    {
	    padding-top:6px !important;
	    *padding-top:2px !important;
	    _padding-top:2px;
	    
    }    
    
     #login td .td_memo
    {
	    padding: 8px 0 8px 12px !important; 
	    *padding: 8px 0 8px 12px !important;
       _padding: 8px 0 8px 12px;	    
    }     
     
    /* #login ul
     {
        width:164px;
        margin:0;
        padding:30px 4px 0 4px;
        list-style-type:none;
                
     }*/
     
     /*登入角色的MESSAGE*/
     #login .mgrweb
    {
        color:#666;
        font-size:14px;
        line-height:20px;
        font-weight:bold;
        text-decoration:underline;
    }
     
   
    /******************** 左側功能區塊 ************************/  
    
     #link_menu
    {
        float:left;
        width:174px;       
    }
    
    .leftmenu
    { }        
    .leftmenu ul
    {
        padding:0;
        list-style-type:none; 
        margin: 0;     
    }
    
    .leftmenu li
    {
       /* margin-left:-15px;*/
        font-size:15px;
        line-height:36px;
        color:#819B24;
        border-bottom-width:1px;
        border-bottom-style:solid;
        border-bottom-color:#7B9623;
        
    }
    
    .leftmenu li a
    {
        padding-left:20px;
        color:#819B24;
        font-weight:bold;
    }
    
    .leftmenu li a:hover
    {
        color:#FE5302;
    }
    
    /* Ajax 動態Menu-子節點 */
    .leftmenua
    {
       letter-spacing:2px;
    }
    
    .leftmenua ul
    {
        margin: 0;     
        padding:0;
        list-style-type:none;
    }
    
    .leftmenua li
    {
        font-size:12px;
        height :27px;
        line-height:27px;
        color:#fff;
        background-image:url(../Images/Index/line1.jpg);
        border:soild 2px #fff; 
    }
    
    .leftmenua li a
    {
        padding-left:26px;
        color:#fff;       
        font-weight:normal;
    }
    
    .leftmenua li a:hover
    {color:#FE5302;}    
    
    /*相關連結區塊*/
    #link_pub
    {
        float:left;
        margin-top:2px;
        width:174px;
        background-image:url(../Images/Index/bg1.jpg);
        border-bottom-width:1px;
        border-bottom-style:solid;
        border-bottom-color:#7B9624;
    }
    
      
    /*相關機構連結 (w1)*/
    .link{}

    .link ul
    {
        margin:0;
        padding:0 0 0 9px;
        list-style-type:none;
        font-size:12px;
    }
    
    .link li
    {line-height:27px;}
    
    .link li a
    {
        padding-left:18px;
        background-image:url(../Images/Index/icon1.gif);
        background-repeat:no-repeat;
    }
    .link li a:hover{} 
    
    
    /***********************************主要內容區塊*******************************************/
    #MainPage
    {
        float:left;
        padding-bottom:0px;
        width:850px;
        background-color:#FFF;
    }
    
        
    /*header區塊,放置banner*/
   .header
    {
       /* background-image:url('../Images/Index/headerbg.jpg');*/        
        margin-top:0px;     
        width: 850px;
    }
    
    .banner
    {
        margin-top:0px;
        border-bottom: solid 4px #7b9623;
        border-right :solid 0px #7b9623;
        height:198px;
        width:850px; 
    }
    
    /*內容區塊包含查詢清單及地圖區塊*/
   
    #MainIframe
    {
        float:left;
        width: 850px;     
        height: 760px; 
    }
   
    #mainfrm
    {
        margin:0 0;
        padding:0 0;
	    width: 850px; 
        height: 760px;  
    }
    
    
    /*說明文件*/
    #document
    {
        padding-left:8px; 
        width:820px;
        letter-spacing:2px; 
        font-size :15px;
    }
    
     #document p
     {        
         line-height:22px;
         padding-left:8px;
         text-indent:35px; 
      }
      
     #document h1
     {
        background-color:Transparent;
        font-family: 微軟正黑體, 標楷體, Georgia, "Times New Roman", Times, serif;
        font-size:200%;
        font-weight:bolder; 
        margin :20px auto;
        letter-spacing:4px;
        text-align :center; 
     }
     
     #document h2
     {
       font-size:140%;  
       background-color:Transparent;
       margin :20px auto;
       text-align:center;         
     }
     
     
     #document h3
     {
       font-size:120%;  
       background-color:Transparent;
       border-bottom: 1px soild #FF9006;
       padding-top:0px;
       text-decoration:underline;
       padding-left:22px; 
       margin-bottom:5px;        
     }
     
     /*文件-細項說明*/
      #document .breakdown
     { 
       padding:0px;
       line-height:22px;   
       padding-left:22px;      
     }
     
     #document ul
     { 
       
       padding:0px;
       margin:0px;
       list-style:none;
     }
     
     #document li
     {padding:0px; margin-left:0px; margin-bottom:0px; line-height:22px;}
     
     #document ul.style, #document li.style{margin-left:37px;padding-left:0px; line-height:22px;} 
    
    /****************************************頁尾*************************************************/ 
     #footer
    {
        background-image:url(../Images/Index/bg2.jpg);
        height:114px;
        clear:both;
    }
    
    .fw1
    {
        margin:10px 200px 0 0;
        float:left;
        line-height:28px;
        text-align:left;
        width:530px;
    }
    
    .fw2
    {
        margin-top:10px;
        float:left;
        line-height:28px;
        text-align:left;
        width:150px;
    }
    
    .fw3
    {
        clear:both;
        padding-top:22px;
        width:1024px;
        text-align:center;
    }
 

        

 