<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <connectionStrings>
    <add name="map-dev" connectionString="Data Source=localhost;Initial Catalog=map-dev;Persist Security Info=True;User ID=AAAUser;Password=apc888"    providerName="System.Data.SqlClient" />
  </connectionStrings>
</configuration>