
   body
   {
       margin:0;
       padding:0;
       font-family:Arial,Helvetica,sans-serif;
       font-size:13px;
       line-height:16px;
       color:#666;
    }
  
    a
    {
        color:#666;text-decoration:none;
    }
  
    a:hover
    {
        color:#FE5302;text-decoration:none;
    }
    
    br
    {letter-spacing:0;}
    

    

    /*¦¸­¶#ManinªºTable Style*/

    #Table
    {
        padding:10px 18px 0 18px;
        border: 1px solid #DFDFDF;
	    background-color: #F9F9F9;
	    width: 100%;
	    font-family: Arial,"Bitstream Vera Sans",Helvetica,Verdana,sans-serif;
	    color: #333;
	
    }

    #Table td, #Table th 
    {
	   
    }
    
    #Table th 
    {
	    font-family: Georgia,"Times New Roman","Bitstream Charter",Times,serif;
	    font-weight: normal;
	    padding: 7px 7px 8px;
	    text-align: left;
	    line-height: 1.3em;
	    font-size: 14px;
    }
    
    #Table td 
    {
	    font-size: 13px;  
    }

    
    
    
   



   
    
    

 

        

 