<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <system.serviceModel>
    <behaviors>
      <serviceBehaviors>
        <behavior name="AAA.Communication.WCFService.CommandServiceBehavior">
          <serviceMetadata httpGetEnabled="true" />
          <serviceDebug includeExceptionDetailInFaults="false" />
        </behavior>
      </serviceBehaviors>
      <endpointBehaviors>
        <behavior name="CrossDomainServiceBehavior">
          <webHttp/>
        </behavior>
      </endpointBehaviors>
    </behaviors>
    <services>
      <service behaviorConfiguration="AAA.Communication.WCFService.CommandServiceBehavior"
          name="AAA.Communication.WCFService.CommandService">
        <endpoint address="" binding="basicHttpBinding" contract="AAA.Communication.WCFService.ICommandService"/>
        <!--              
                    <identity>
                        <dns value="localhost" />
                    </identity>
                </endpoint>
-->
        <endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange" />
        <host>
          <baseAddresses>
            <add baseAddress="http://localhost:81/AAA.Communication.WCFService/CommandService" />
          </baseAddresses>
        </host>
      </service>

      <service name="AAA.Communication.WCFService.CrossDomainService">
        <host>
          <baseAddresses>
            <add baseAddress="http://localhost:81/" />
          </baseAddresses>
        </host>
        <endpoint address="" binding="webHttpBinding" contract="AAA.Communication.WCFService.ICrossDomainService" behaviorConfiguration="CrossDomainServiceBehavior"/>
      </service>
      <!--                        
            <service behaviorConfiguration="Apex.Communication.WCFService.CrossDomainServiceBehavior"
                name="Apex.Communication.WCFService.CrossDomainService">
                <endpoint address="" binding="basicHttpBinding" contract="Apex.Communication.WCFService.ICrossDomainService"/>

                    <identity>
                        <dns value="localhost" />
                    </identity>
                </endpoint>

                        <endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange" />
                <host>
                    <baseAddresses>
                        <add baseAddress="http://localhost:8180/Apex.Communication.WCFService/CrossDomainService" />
                    </baseAddresses>
                </host>
            </service>
-->
    </services>
  </system.serviceModel>
</configuration>
